<h2>Sign Up for a Course!</h2>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" formControlName="name" id="name"/>
		@if (name?.invalid && (name?.dirty || name?.touched)) {
			<div class="error">
				@if (name?.errors?.['required']) {
					<small>Name is required!</small>
				}
			</div>
		}
	</div>
	<div class="form-group">
		<label for="email">E-mail:</label>
		<input type="email" formControlName="email" id="email"/>
		@if (email?.invalid && (email?.dirty || email?.touched)) {
			<div class="error">
				@if (email?.errors?.['required']) {
					<small>E-mail is required!</small>
				}
				@if (email?.errors?.['email']) {
					<small>Please enter a valid e-mail!</small>
				}
			</div>
		}
	</div>
	<div class="form-group">
		<label for="enrolledCourseId">Enroll in:</label>
		<select formControlName="enrolledCourseId" id="enrolledCourseId">
			<option value="" disabled>Select a Course</option>
			@for (course of courses; track course.id) {
				<option [value]="course.id">{{ course.title }}</option>
			}
		</select>
		@if(enrolledCourseId?.invalid && (enrolledCourseId?.dirty || enrolledCourseId?.touched)) {
        <div class="error">
            @if(enrolledCourseId?.errors?.['required']) {
            	<small>Please select a course!</small>
            }
        </div>
		}
	</div>
	<button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
	@if (submissionSuccess) {
		<div class="success">
			<p>Thank you for signing up! We will contact you soon.</p>
		</div>
	}
	@if (submissionError) {
		<div class="error">
			<p>{{ submissionError }}</p>
		</div>
	}
</form>